.header2{
  color: black;
  /* border-bottom: 2px solid gray; */
  margin-bottom: 24px;
  font-size: 36px;
}



.header1{
  color: black;
  border-bottom: 2px solid gray;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

body{
  background-color: rgb(236, 238, 231);
  font-size: 18px;
  padding-bottom: 240px;
}

/* #nav{ */
  /* width: 218px; */
  /* margin-right: 20px; */
  /* float: left; */
  /* position: absolute; */
/* } */

#main{
  box-sizing: border-box;
  float: left;
  max-width: 90%;
  padding: 40px 20% 0 20%;
  /* padding:40px 25%; */
}

.bodyText{
  margin-bottom: 40px;
}

.App{
  display: flex;
}

.tags{
  font-size: 18px;
}



.projectImg{
  box-sizing: border-box;
  width: 70%;
  min-width: 280px;
  border: 3px solid #AD9C70;
  /* min-width: 50%; */
}

.navlink{
  text-decoration: none;
}

@media (max-width: 600px){
  .projectImg{
    width: 280px;
  }

  #main{
    padding: 40px 5%;
  }
}

a{
  overflow-wrap: break-word;
}